@import "./scss/mixins.scss";
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap");

* {
  font-family: "Abril Fatface", cursive;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

body {
  background-color: rgba(0, 128, 0, 0.657);
  height: 100%; //konieczne do zaciemnienia
}

html {
  //zapewnia wraz z body {height: 100%} nałożenie zaciemnienia całej strony
  min-height: 100%; //konieczne do zaciemnienia
  position: relative; //konieczne do zaciemnienia
}

nav {
  .navbar-brand {
    font-size: 25px;
    font-weight: bold;
    width: 120px;
    padding: 10px;
    border: dashed rgba(0, 128, 0, 0.5) 2px;
  }
  ul {
    li {
      cursor: pointer;
      margin: 35px;
      .text-light {
        font-size: 25px;
        font-weight: 350;
        padding: 20px;
      }
    }
  }
  .nickname-login-info {
    margin: 25px;
    .remove-login {
      border-radius: 15px;
      background-color: rgba(0, 0, 255, 0);
      padding: 5px;
      color: white;
      margin: 10px;
      font-size: 15px;
      &:hover {
        background-color: rgba(255, 255, 255, 0.075);
        text-shadow: 0 0 25px rgba(255, 255, 255, 0.25);
      }
    }
    .welcome-info {
      color: white;
      margin: 5px;
      font-size: 15px;
    }
    .nickname-info {
      color: white;
      margin: 5px;
      font-size: 25px;
    }
  }
}

main {
  margin-top: 30px;
  text-align: center;
  h1 {
    padding-top: 25px;
  }
  p {
    padding: 25px;
  }
  .registration-and-login {
    position: absolute;
    right: 0;
    top: 150px;
    margin: 50px;
    button {
      @include login-registration-summary-buttons-settings;
    }
    .hover-registration {
      &:hover {
        background-color: rgba(231, 222, 222, 0.85);
        box-shadow: 5px 5px 5px rgba(199, 193, 193, 0.85);
        border: solid rgb(131, 124, 124) 5px;
      }
    }
    .hover-login {
      &:hover {
        background-color: rgba(231, 222, 222, 0.85);
        box-shadow: 5px 5px 5px rgba(199, 193, 193, 0.85);
        border: solid rgb(131, 124, 124) 5px;
      }
    }
  }
}

#main-section {
  cursor: pointer;
  text-align: center;
  margin-top: 50px;

  //---------

  // HOME

  #home-container {
    height: 475px;
    .picture {
      background-image: url(./assets/pictures/flower-spa.jpg);
      cursor: context-menu;
      position: absolute;
      border: solid rgb(94, 209, 94) 5px;
      box-shadow: 5px 5px 25px black;
      width: 1350px;
      height: 500px;
      background-size: 1350px 500px;
      top: 375px;
      left: 0;
      right: 0;
      margin: auto;
      .span-home {
        font-size: 75px;
        color: rgba(255, 255, 255, 0.85);
        margin-top: 75px;
        text-shadow: 10px 5px 10px black;
      }
    }
  }

  //Form

  // Registration

  .div-form-registration {
    @include registration-login-information;
    .registration-form {
      background-color: rgba(206, 210, 228, 0.95);
      @include registration-login-form-information;
      #logo {
        .spa-logo {
          @include logo-information-settings;
        }
      }
      .all-input-container {
        h1 {
          @include registration-login-input-div-container;
        }
        .text-input {
          margin-bottom: 30px;
          @include all-inputs-registration-login-settings;
        }
        .email-input {
          margin-bottom: 30px;
          @include all-inputs-registration-login-settings;
        }
        .email-exist-info {
          position: absolute;
          color: rgb(195, 23, 23);
          background-color: rgba(255, 255, 255, 0.8);
          font-size: 17px;
          left: 0;
          right: 0;
          bottom: 25%;
          width: 100%;
        }
        .password-input {
          @include all-inputs-registration-login-settings;
        }
        .registration-description {
          font-size: 15px;
          color: rgb(134, 24, 24);
        }
        #password-power {
          display: flex;
          width: 100%;
          height: 40px;
          margin-bottom: 25px;
          .half-size {
            width: 50%;
            height: 100%;
            .password-word {
              width: 100%;
              font-size: 22px;
            }
          }
          .div-three-colors {
            .three-colors {
              margin-left: 10px;
              display: inline-block;
              height: 12px;
              width: 50px;
              border-radius: 3px;
              box-shadow: 0.5px 0.5px 2px;
              background-color: gray;
            }
            .orange-color {
              background-color: orange;
            }
            .yellow-color {
              background-color: yellow;
            }
            .green-color {
              background-color: green;
            }
          }
        }
        #hidden-password-strength {
          width: 100%;
          position: absolute;
          height: 20px;
          width: auto;
          font-size: 15px;
          bottom: 20%;
          left: 80%;
        }
        #div-input {
          .sign-up {
            background-color: rgb(248, 252, 255);
            @include sign-up-sign-in-button;
          }
        }
      }
    }
    .registration-cancel {
      bottom: 5px;
      @include registration-login-cancel-button;
    }
  }

  //login

  .div-form-login {
    @include registration-login-information;
    .login-form {
      background-color: rgba(228, 207, 207, 0.95);
      @include registration-login-form-information;
      #logo {
        .spa-logo {
          @include logo-information-settings;
        }
      }
      .all-input-container {
        h1 {
          @include registration-login-input-div-container;
        }

        .login-description {
          font-size: 15px;
          color: rgb(134, 24, 24);
        }
        .text-input-login {
          margin: 20px 0 50px 0;
          @include all-inputs-registration-login-settings;
        }
        .password-input-login {
          margin-bottom: 70px;
          @include all-inputs-registration-login-settings;
        }
        .login-error {
          @include login-and-arrival-departure-error;
          position: absolute;
          color: red;
          z-index: 3;
        }
        #div-input-login {
          .sign-in {
            background-color: rgb(213, 230, 243);
            @include sign-up-sign-in-button;
          }
        }
      }
    }
    .login-cancel {
      bottom: 25px;
      @include registration-login-cancel-button;
    }
  }

  //-----------

  // ROOMS

  #rooms-container {
    @include section-flex-settings;
    cursor: context-menu;
    .room {
      @include inside-divs-in-section-flex;
      @include section-flex-settings;

      .one-room-info {
        cursor: auto;
        @include border-for-treatment-and-room;
        .room-key {
          font-weight: bold;
        }
        .room-value {
          @include value-in-room-and-treatment;
        }
      }
      .add-and-remove {
        @include border-for-treatment-and-room;
        @include center-position-for-buttons-and-inputs;
        button {
          @include button-add-remove-style;
        }
        .all-add-buttons-hover {
          &:hover {
            @include buttons-hover;
          }
        }
        .all-remove-buttons-hover {
          &:hover {
            @include buttons-hover;
          }
        }
        .not-empty {
          z-index: 2;
          position: absolute;
          margin-top: 45px;
          .person-form {
            background-color: rgba(0, 0, 0, 0.15);
            margin-top: 50px;
            .person-input {
              height: 25px;
              width: 50px;
              background-color: rgba(246, 233, 233, 0.85);
              border-radius: 5px;
              font-size: 15px;
            }
            .label-warning {
              font-size: 15px;
              margin: 0;
            }
            .span-for-label-warning {
              font-size: 15px;
              color: rgb(134, 24, 24);
            }
            .add-person-button {
              background-color: rgba(246, 233, 233, 0.85);
              @include button-inside-input;
            }
            .remove-person-button {
              background-color: rgba(209, 196, 196, 0.85);
              @include button-inside-input;
            }
            button {
              &:hover {
                @include buttons-hover;
              }
            }
          }
          .form-shadow {
            &:hover {
              @include hover-white-shadow-without-border;
            }
          }
        }
      }
    }
    .room-hover-shadow {
      &:hover {
        @include hover-white-shadow-with-border;
      }
    }
  }

  //---------

  // TREATMENTS

  #treatments-container {
    @include section-flex-settings;
    cursor: context-menu;
    .treatment {
      @include inside-divs-in-section-flex;
      @include section-flex-settings;
      .one-treatment-info {
        cursor: auto;
        @include border-for-treatment-and-room;
        .treatment-key {
          font-weight: bold;
        }
        .treatment-value {
          @include value-in-room-and-treatment;
        }
      }
      .add-and-remove {
        @include border-for-treatment-and-room;
        @include center-position-for-buttons-and-inputs;
        button {
          @include button-add-remove-style;
        }
        .all-add-buttons-treatments-hover {
          &:hover {
            @include buttons-hover;
          }
        }
        .all-remove-buttons-treatments-hover {
          &:hover {
            @include buttons-hover;
          }
        }
      }
    }
    .treatment-hover-shadow {
      &:hover {
        @include hover-white-shadow-with-border;
      }
    }
  }

  //---------

  // BOOKINGS

  #bookings-container {
    .arrival-date-container {
      .arrival-info {
        .arrival-heading-info {
          cursor: text;
          margin: 15px;
        }
        .div-arrival-error {
          margin-bottom: 10px;
          .input-arrival-error {
            @include login-and-arrival-departure-error;
            color: rgb(211, 32, 32);
          }
        }
      }
      .arrival-div {
        display: inline-block;
        #input-arrival-date {
          @include all-inputs-registration-login-settings;
          padding: 0;
          width: 350px;
        }
        .click-arrival {
          @include submit-arrival-departure-add-cancel;
          margin: 15px;
          &:hover {
            box-shadow: inset 0 0 50px rgba(135, 173, 199, 0.315);
          }
        }
      }
      .cancel-arrival-date {
        display: inline-block;
        .hidden-cancel-arrival-date {
          &:hover {
            box-shadow: inset 0 0 50px rgba(135, 173, 199, 0.315);
          }
        }
        .cancel-arrival-click {
          @include submit-arrival-departure-add-cancel;
        }
      }
    }
    .departure-date-container {
      .departure-info {
        .departure-heading-info {
          cursor: text;
          margin: 15px;
        }
        .div-departure-error {
          margin-bottom: 10px;
          .input-departure-error {
            @include login-and-arrival-departure-error;
            color: rgb(211, 32, 32);
          }
        }
      }
      .departure-div {
        display: inline-block;
        #input-departure-date {
          @include all-inputs-registration-login-settings;
          padding: 0;
          width: 350px;
        }
        .click-departure {
          @include submit-arrival-departure-add-cancel;
          margin: 15px;
        }
        .hidden-departure-date-hover {
          &:hover {
            box-shadow: inset 0 0 50px rgba(135, 173, 199, 0.315);
          }
        }
      }
      .cancel-departure-date {
        display: inline-block;
        .hidden-cancel-departure-date {
          &:hover {
            box-shadow: inset 0 0 50px rgba(135, 173, 199, 0.315);
          }
        }
        .cancel-departure-click {
          @include submit-arrival-departure-add-cancel;
        }
      }
    }
    .summary-whole-basket {
      margin-top: 30px;
      .summary-flex {
        display: flex;
        justify-content: center;
        .summary-information-div {
          width: 1000px;
          .summary-span-information {
            cursor: text;
            color: rgb(141, 54, 54);
          }
        }
      }
      .button-basket-summary {
        color: rgb(131, 39, 39);
        @include login-registration-summary-buttons-settings;
        margin-top: 20px;
        width: 200px;
      }
      .hover-button-summary {
        &:hover {
          @include buttons-hover;
        }
      }
    }
  }
}

#info-section {
  max-width: 30%;
  top: 100px;
  left: 0;
  position: absolute;
  .info-main-heading {
    color: rgb(155, 41, 41);
    text-align: center;
  }
  .div-for-all-info {
    width: 100%;
    .hidden-border-rooms-in-info {
      @include info-div-settings;
      div {
        font-size: 12px;
      }
    }
    .hidden-border-treatments-in-info {
      @include info-div-settings;
      div {
        font-size: 12px;
      }
    }
    .hidden-border-bookings-in-info {
      @include info-div-settings;
      div {
        font-size: 12px;
      }
    }
  }
  .hidden-class-in-div {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }
}
.main-info-in-section {
  margin: 35px;
  padding: 10px;
  border: dotted rgba(124, 53, 53, 0.575) 3px;
  display: inline-block;
}

.text-muted {
  text-align: center;
  padding: 50px;
  bottom: 5px;
}

.shadow-div {
  z-index: 1;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}
