@import "./variables.scss";

//-----------

@mixin welcome-nickname-info {
  color: white;
  margin: 5px;
}

//-----------

@mixin registration-login-hover-settings {
  background-color: rgba(231, 222, 222, 0.85);
  box-shadow: 5px 5px 5px rgba(199, 193, 193, 0.85);
  border: solid rgb(131, 124, 124) 5px;
}

//-----------

@mixin section-flex-settings {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

//-----------

@mixin inside-divs-in-section-flex {
  display: inline-block;
  padding: 25px;
  flex-basis: calc(50% - 10px);
  margin: 5px;
  border: double brown 3px;
  border-radius: 5px;
}

//------------

@mixin border-for-treatment-and-room {
  border: dotted rgba(124, 53, 53, 0.575) 3px;
  flex-basis: 50%;
  padding: 15px;
}

//------------

@mixin hover-white-shadow-with-border {
  box-shadow: inset 0 0 50px white;
  text-shadow: 0 0 50px white;
  border: double rgba(255, 255, 255, 0.5) 3px;
}

//-----------

@mixin hover-white-shadow-without-border {
  box-shadow: inset 0 0 60px white;
  text-shadow: 0 0 25px white;
}

//-----------

@mixin value-in-room-and-treatment {
  font-weight: bold;
  color: rgba(33, 39, 129, 0.575);
}

//-----------

@mixin button-add-remove-style {
  margin: 10px;
  background-color: rgba(165, 147, 147, 0.835);
}

//-----------

@mixin center-position-for-buttons-and-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
}

//----------

@mixin button-inside-input {
  height: 25px;
  width: 55px;
  border-radius: 5px;
  font-size: 10px;
  margin: 5px;
}

//-----------

@mixin buttons-hover {
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.65);
}

//-----------

@mixin info-div-settings {
  border: dotted brown 2px;
  padding: 5px;
}

//------------

@mixin registration-login-information {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 635px;
  width: 500px;
}

//-----------

@mixin registration-login-form-information {
  display: flex;
  height: 635px;
  width: 500px;
  padding: 35px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 10px;
  box-shadow: 10px 10px 10px;
  border: $border-solid-black-3px;
  flex-direction: column;
}

//-----------

@mixin logo-information-settings {
  display: inline-block;
  padding: 5px;
  margin: 10px;
  font-size: 25px;
  height: 50px;
  width: 125px;
  color: rgb(37, 25, 25);
  border: dashed green 3px;
  background-color: rgba(100, 100, 214, 0.335);
}

//-----------

@mixin registration-login-input-div-container {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 40px;
}

//-----------

@mixin all-inputs-registration-login-settings {
  width: 100%;
  padding: 10px;
  height: 45px;
  font-size: 25px;
  border-radius: 5px;
  border: $border-solid-black-2px;
  font-size: 25px;
}

//-----------

@mixin sign-up-sign-in-button {
  width: 100%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 5px;
}

//-----------

@mixin registration-login-cancel-button {
  position: absolute;
  z-index: 3;
  right: 15px;
  text-align: center;
  width: 70px;
  height: 30px;
  margin: 25px;
  font-size: 15px;
  background-color: rgba(159, 166, 167, 0.445);
  border-radius: 15px;
  border: solid rgba(128, 128, 128, 0.5) 3px;
  box-shadow: $black-5px-box-shadow;
}

//-----------

@mixin login-registration-summary-buttons-settings {
  width: 150px;
  padding: 5px;
  margin: 10px;
  border-radius: 25px;
  background-color: rgb(192, 183, 183);
  border: solid rgb(90, 89, 89) 5px;
  box-shadow: $black-5px-box-shadow;
}

//-----------

@mixin remove-basket-hover-buttons {
  background-color: $light-cream-color;
  box-shadow: 5px 5px 5px rgba(77, 50, 50, 0.65);
}

//-----------

@mixin login-and-arrival-departure-error {
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.205);
  right: 0;
  left: 0;
  bottom: 30%;
  width: 100%;
}

//-----------

@mixin submit-arrival-departure-add-cancel {
  width: 150px;
  height: 45px;
  font-size: 25px;
  border-radius: 5px;
  border: $border-solid-black-2px;
  font-size: 25px;
}

//-----------
