* {

    font-family: monospace, sans-serif;
    text-transform: capitalize;
    box-sizing: border-box;
    font-size: 12px;

}

body {

    background-color: rgba(48, 81, 155, 0.7);

}

#timer-container {

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 10px;
    width: 400px;
    height: 200px;
    background-color: rgba(95, 195, 195, 0.7);
    border-radius: 10px;
    border: 5px solid black;
    box-shadow: 5px 5px 10px;

}

#timer-name {

    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 15px;

}

#flexbox-container {

    width: auto;
    height: 60px;
    display: flex;
    justify-content: space-around;

}

.time {

    font-size: 20px;
    padding-left: 10px;

}


.label-minutes {

    margin-left: 25px;

}

.time,
.start-stop,
.reset {

    width: 90px;
    border: 2px solid black;
    border-radius: 5px;

}

.time,
.start-stop {

    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    height: 50px;
    box-shadow: 3px 3px 5px;

}

.start-stop:hover {

    cursor: pointer;

}

.start-stop {

    background-color: #a8e24d;
    font-size: 15px;
    font-weight: 600;
    margin-top: 15px;
    margin-right: 25px;
    margin-left: 15px;
    padding-left: 3px;

}

.reset {

    position: absolute;
    background-color: rgba(181, 28, 28, 0.9);
    box-shadow: 1px 1px 2px;
    width: 70px;
    top: 35%;
    right: 10%;

}