$dark-red-color: rgb(134, 24, 24);

$color-white-with-transparency: rgba(246, 233, 233, 0.85);

$orange-red-mix: rgb(211, 32, 32);

$light-blue-box-shadow: inset 0 0 50px rgba(135, 173, 199, 0.315);

$border-solid-black-3px: solid black 3px;

$border-solid-black-2px: solid black 2px;

$border-dotted-black: dotted black 1px;

$light-cream-color: rgba(236, 204, 204, 0.75);

$margin-0-25px: 0 25px 0 25px;

$black-5px-box-shadow: 5px 5px 5px black;
